//mixins
@mixin media-query-m($break-m) {
   @media (min-width:#{$break-m}) {
      // @include getColFlexBasis;
      @content;
   }
}

@mixin getColFlexBasis {
   @for $i from 1 through 12 {
      .col-#{$i} {
         flex-basis: getFlexWidth($i) !important;
      }
   }
}

@mixin margin-center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

//Images
@mixin img-margin {
   margin-top: 10px;
   max-width: 100%;
}