/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
//Images
@mixin img-style {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

@mixin img-margin {
   margin-top: 10px;
   max-width: 100%;
}

@mixin getFlexBasis($i){
   flex-basis:getFlexWidth($i);
}

@mixin media-query-m($break-m){
   @media (min-width:#{$break-m}){
      @content;
   }
}

@media (min-width: 768px) {
   .centered {
      display: block;
      margin-left: auto;
      margin-right: auto;
   }

   [class^=col]+[class^=col] {
      margin-left: 10px;
   }

   @for $i from 1 through 12 {
      .col-#{$i} {
         @include getFlexBasis($i);
      } 
   }

   /*Look at here*/
   .btn {
      padding: 10px 30px;
   }

   .btn+.btn {
      margin-left: 10px;
   }

   .logo {
      margin-left: initial;
      margin-right: initial;
   }
   
}

