/* Color for button */
$color-button-default:#51ddfc;
$color-button-success:#63cc82;
$color-button-error:#e4757a;
$color-button-warning:#fd7856;
$color-button-info:#927bc1;

/* Color for theme */
$color-theme-col1:#927bc1;
$color-theme-col2:#fd7856;
$color-theme-col3:#deb2ee;
$color-theme-col4:#7ee6fd;
$color-theme-col5:#88d9a0;
$color-theme-col6:#4da2bb;
$color-theme-col7:#ec9fa3;
$color-theme-col8:#fd9f85;
$color-theme-col9:#e4757a;
$color-theme-col10:#63cc82;
$color-theme-col11:#51ddfc;
$color-theme-col12:#80e8d1;

/*Size*/
$size-for-desktop:1150px;