/* ============================================= */
/*              Buttons                          */
/* ============================================= */
.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;

  @include media-query-m($break-m) {
    padding: 10px 30px;
  }

  &+& {
    @include media-query-m($break-m) {
      margin-left: 10px !important;
    }
  }
}

@each $buttonStyle,
$buttonColor in $color-button-map {
  .#{$buttonStyle} {
    background-color: $buttonColor;
  }
}