/* ============================================= */
/*              Buttons                          */
/* ============================================= */

@mixin btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

@each $buttonStyle, $buttonColor in $color-button-map {
  .#{$buttonStyle} {
    @include btn;
    background-color: $buttonColor;
  }
}

// .default {
//   background-color: #51ddfc;
//   @include btn;
// }

// .error {
//   background-color: #e4757a;
//   @include btn;
// }

// .info {
//   background-color: #927bc1;
//   @include btn;
// }

// .success {
//   background-color: #63cc82;
//   @include btn;
// }

// .warning {
//   background-color: #fd7856;
//   @include btn;
// }