/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  @include media-query-m($break-m) {
    padding: 10px 30px;
  }
}

@each $buttonStyle,
$buttonColor in $color-button-map {
  .#{$buttonStyle} {
    background-color: $buttonColor;
  }
}