/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
   padding: 0 10px;

   @include media-query-m($break-m) {
      max-width: 1400px;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }

}
[class^=col] {
   margin-top: 10px;
   flex-basis: 100%;
   min-height: 25px;
   padding: 10px;
   border-radius: 5px;

   @include media-query-m($break-m) {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
   }

   &+& {
      @include media-query-m($break-m) {
         margin-left: 10px;
      }
   }
}

.row {
   display: flex;
   flex-direction: column;
   padding: 1em 10px;

   @include media-query-m($break-m) {
      flex-direction: row;
   }

   @each $theme,
   $color-theme in $color-theme-map {
      .#{$theme}.theme {
         background-color: $color-theme;
      }
   }

   @include getColFlexBasis;

   .centered {
      @include media-query-m($break-m) {
         @include margin-center;
         text-align:center;
      }
   }
}

.card {
   flex-basis: 100%;
}

