/* ============================================= */
/*              Images                           */
/* ============================================= */
.img {
   @include margin-center;

   &-avatar {
      @include img-margin;
      max-height: 100%;
   }

   &-frame {
      @include img-margin;
      padding: 13px;
      border: 1px solid #ccc;
   }

   &-logo {
      @include media-query-m($break-m) {
         margin-left: initial;
         margin-right: initial;
      }
   }
}